# Optional. Pro sign-in and the license check use these.
# Leave them blank to run the Free lot file with no network account.
# Never point these at a project that stores borrower or repo rows.
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
